#banner{

    background-image: url("../assets/img/banner1.jpg");
    background-size: cover;
    background-position: top center;
    padding: 15% 50% 25% 2%;

}

.menu{
    background-color: transparent;
}